<div class="jumbotron">
  <h1 class="display-3"><%= @question.title %></h1>
  <hr class="my-4">
  <p class="lead"><%= @question.description %></p>
  <p class="lead">
    <%= link_to 'Volver', questions_path, class: "btn btn-primary" %>
    <%= link_to 'Editar', edit_question_path(@question), class: "btn btn-primary" %>
  </p>
</div>

<%= form_for [@question, @question.answers.new] do |f| %>	
	<p>
		<%= f.label :description %> :<br>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.submit "Answer question", class: "btn btn-primary" %>
	</p>

<% end %>


<ul>
	<% @question.answers.each do |answer| %>
		<li><%= answer.description %></li>
	<% end %>
</ul>