<div class="jumbotron">
  <h1 class="display-3"><%= @question.title %></h1>
  <hr class="my-4">
  <p class="lead"><%= @question.description %></p>
  <p class="lead">
    <%= link_to 'Volver', questions_path, class: "btn btn-primary" %>
    <%= link_to 'Editar', edit_question_path(@question), class: "btn btn-primary" %>
  </p>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<%= render '/comments/index', commentable: @question %>
			<%= render '/comments/form', commentable: @question %> 
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<%= render '/answers/index' %>
			<%= render '/answers/form' %>
		</div>
	</div>
</div>





